body {
    display: flex;
    flex-direction: column;
    background-color: #003049;
    color: #FCBF49;
    font-family: "Helvetica";
}

.category {
    display: none;
}

#cat1:checked~#schoolEvent {
    display: block;
}

#cat2:checked~#workEvent {
    display: block;
}

#cat3:checked~#personalEvent {
    display: block;
}