body {
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 10;
    font-family: Raleway, sans-serif;
}

#homepage {
    margin: auto;
    text-align: center;
    padding: 10px;
    width: 50%;
}

#navbar {
    list-style-type: none;
    margin: 0;
    padding: 5;
    overflow: hidden;
    background-color: #C7C5F4;
    height: 40px;
}

.navlist {
    float: left;
    padding-left: 10px
}

#refresh {
    background: #fff;
    font-size: 14px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    align-items: center;
    width: 350px;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    text-align: center;
}

li {
    float: left;
}

ul {
    list-style-type: none;
}

#todoelem {
    font-family: 'Helvetica';
    float: none;
    padding: 15px;
    font-size: 24px;
}

li a {
    background: #fff;
    font-size: 14px;
    margin-top: 5px;
    padding: 6px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%;
    color: #4C489D;
    box-shadow: 0px 2px 2px #5C5696;
    cursor: pointer;
    transition: .2s;
    float: left;
}

li a:hover:not(.active) {
    background-color: rgb(230, 73, 73);
}

.active {
    background-color: #04AA6D;
}

.checkbox {
    display: block !important;
}

.container {
    text-align: center;
    margin-top: 50px;
}

#toDO {
    margin-left: 35%;
}

#quote {
    max-width: 750px;
    margin: auto;
}